<ion-header class='ion-no-border'>	
	<ion-toolbar color='light'>
		<ion-title>cheqprice.com</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color='light'>
	<ion-input placeholder='Search'>	
		<ion-icon slot='start' name='search-outline'></ion-icon>

		<ion-button slot='end' color='primary'>
			<ion-icon slot='icon-only' name='paper-plane-outline'></ion-icon>
		</ion-button>
	</ion-input>

	<!-- Top Discount list -->
	<ion-list color='light'>
		<app-list-header
			heading='Top Discounts'
			buttonName='View All'
			buttonIcon='arrow-forward-outline'
			buttonColour='medium'
			></app-list-header>

		<app-horizontal-list
			[items]='top_discounts00()'
			[itemTemplate]='topDiscountTemplate'
			[config]='{slidesPerView: 1.5, spaceBetween: 10}'
			[viewAllTemplate]='viewAllTopDiscountTemplate'
			></app-horizontal-list>

		<ng-template #topDiscountTemplate let-discount>
			<app-top-discounts [topDiscounts]='discount'></app-top-discounts>
		</ng-template>
		<ng-template #viewAllTopDiscountTemplate>
			<app-top-discounts [isViewAll]='true'></app-top-discounts>
		</ng-template>
	</ion-list>
</ion-content>

