ion-header {
	ion-title {
		text-align: center; /* Center the text */
		background-color: var(--ion-color-light-tint); /* Use medium color for the header background */
	}
	ion-toolbar {
		padding: 0.5rem;
		ion-input {
			background-color: var(--ion-color-primary-contrast);
			border-radius: 2rem;
		}
	}
}
