ion-card {
	width: 100%;
	height: 15rem;
	border-radius: 1rem;
	overflow: hidden;
	margin: 0;
  box-shadow: none;
  padding: 0.5rem;
  ion-thumbnail {
    width: 100%;
    height: 7rem;
    background: transparent;
    ion-badge {
      height: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem; /* Added to create space below the badge */
			margin-left: 0.5rem;
			margin-right: 0.5rem;
      img {
        width: 0.9rem;
        height: 0.9rem;
        object-fit: contain;
        margin-inline-start: 0.3rem;
        background: var(--ion-color-light);
        border-radius: 50%;
      }
    }
		img.discount-img {
			width: 100%;
      height: 90%;
      margin: auto;
      padding: 0.5rem;
      object-fit: contain;
		}
	}
	ion-item {
		--padding-start: 0.5rem;
    --padding-top: 0.5rem;
		--inner-padding-end: 0;
		.item-content {
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: space-between;
			height: 100%;
		}

		// Styles for the new info-list
		.info-list {
			width: 100%;
			padding: 0; // Remove default padding from ion-list
			margin: 0; // Remove default margin from ion-list
			background: transparent; // Ensure background is transparent if needed

			ion-item {
				--min-height: auto; // Allow ion-item to take natural height of content
				--padding-start: 0; // Remove padding from individual list items
				--padding-end: 0;
				--padding-top: 0;
				--padding-bottom: 0;
				// Ensure that the background of the ion-item is transparent
				--background: transparent;

				ion-label {
					margin: 0; // Remove default margin from ion-label within the list
					padding-top: 0.2rem; // Small padding between list items for readability
					padding-bottom: 0.2rem;

					ion-text {
						width: 100%;
						font-size: 0.8rem;
						font-weight: var(--ion-font-weight-bold);
						p {
							margin: 0; // Remove default paragraph margin to reduce vertical space
							b {
								color: var(--ion-color-primary);
							}
						}
					}
					.short-text {
						//margin-top: 0;
						//white-space: nowrap;
						//overflow: hidden;
						//text-overflow: ellipsis;
						//width: 100%;
						//display: block;

						display: -webkit-box; // For multi-line ellipsis
						-webkit-line-clamp: 50; // Number of lines to show before truncating
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						//margin-top: 0.5rem;
					}
				}
			}
		}
		ion-button {
			align-self: flex-end;
			margin-top: 1rem;
		}
	}
}
