<ion-card>
	@if(!isViewAll()){
		<ion-thumbnail>
			<ion-badge color='dark'>
				{{ topPaymentFlex()?.info?.retail }}
			</ion-badge>
			@if(topPaymentFlex()?.type === 'bnpl'){
				@for(paymentFlex of topPaymentFlex()?.info?.bnpl_info | slice:0:1; track paymentFlex.bnpl_id){
					<img class='discount-img' [src]='paymentFlex.image' />
				}
			}
			@if(topPaymentFlex()?.type === 'giftcards'){
				<img class='discount-img' [src]='topPaymentFlex()?.info?.image' />
			}
		</ion-thumbnail>

		<ion-item lines='none'>
			<ion-label>
				<ion-text color='dark'>
					<!--{{ topPaymentFlex()?.title }}-->
				</ion-text>
			</ion-label>
			<ion-button fill="clear" slot="end" [routerLink]="['/deals', topPaymentFlex()?.slug]">View Offers</ion-button>
		</ion-item>
	}@else{
	<app-view-all-card [route]='viewAllRoute()'></app-view-all-card>
	}
</ion-card>
