<ion-card>
	@if(!isViewAll()){
		<ion-thumbnail>
			<ion-badge color='dark'>
				{{ topDiscounts()?.retail }}
			</ion-badge>
			<img class='discount-img' [src]='topDiscounts()?.offer'/>
		</ion-thumbnail>

		<ion-item lines='none'>
			<ion-label>
				<ion-text color='dark'>
					{{ topDiscounts()?.title }}
				</ion-text>
			</ion-label>
			<ion-button fill="clear" slot="end" [routerLink]="['/deals', topDiscounts()?.slug]">View Discount</ion-button>
		</ion-item>
	}@else{
		<app-view-all-card [route]='viewAllRoute()'></app-view-all-card>
	}
</ion-card>
