<ion-card>
	<div class='spinner'>
		@if((loadingService.isLoading$ | async) === false){
			<ion-spinner name='dots' color='primary'></ion-spinner>
		}
	</div>
	@if(!isViewAll()){
		<ion-thumbnail>
			<ion-badge color='dark'>
				{{ topOffers()?.retail }}
			</ion-badge>
			<img class='discount-img' [src]='topOffers()?.image'/>
		</ion-thumbnail>

		<ion-item lines='none'>
			<ion-label>
				<ion-text color='dark'>
					{{ topOffers()?.title }}
				</ion-text>
			</ion-label>
			<ion-button fill="clear" slot="end" [routerLink]="['/deals', topOffers()?.slug]">View Offers</ion-button>
		</ion-item>
	}@else{
	<app-view-all-card [route]='viewAllRoute()'></app-view-all-card>
	}
</ion-card>
